# Editor
.vscode

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
build

# Output of the pprof
pprof

# Auto generated for debugging
/cmd/*/public
/cmd/*/data
__debug_bin

# Certificates
deploy/self-certificate
